{
  "presets": [
    "react",
    "stage-0",
    [
      "babel-preset-env",
      {
        "targets": {
          "browsers": ["last 2 versions"]
        },
        "modules": false
      }
    ]
  ],

  "plugins": ["transform-decorators-legacy", "transform-class-properties"],

  "env": {
    "production": {
      "presets": ["react-optimize"],
      "plugins": ["transform-runtime", "ramda", "lodash"]
    }
  }
}
