@mixin reset-heading {
  margin: 0;
  padding: 0;
  line-height: 1;
}

@mixin center($width) {
  margin-left: auto;
  margin-right: auto;
  max-width: $width;
}
@mixin reset-heading {
  margin: 0;
  padding: 0;
  line-height: 1;
}

@mixin center($width) {
  margin-left: auto;
  margin-right: auto;
  max-width: $width;
}

@mixin row {
  @media(max-width: 780px) {
    .col:first-child {
      padding: 0;
    }
    .col:last-child {
      padding: 0;
    }
  }
  &:after{
    content: "";
    display: block;
    clear: both;
  }
}

@mixin row--inline{
  font-size: 0;
  .col{
    float: none;
    display: inline-block;
    vertical-align: top;
  }
  &:after{
    display: none;
  }
}


// desktop
@mixin lg($size) {
  width: 100% / (12 / $size);
}


// tablet
@mixin md($size) {
  @media(max-width: 1px) {
    width: 100% / (12 / $size);
  }
}


// mobile
@mixin sm($size) {
  @media(max-width: 780px) {
    width: 100% / (12 / $size);
  }
}
